@mixin btnColour($colour, $borderColour) {
    background: $colour;
    border: 1px solid $borderColour;
}

.container {
    h2 {
        text-align: center;
    }
    margin: 1rem auto;
    width: 80%;

    .card {
        background-color: lightgray;
        width: 70%;
        margin: 50px auto;
        border-radius: 20px;
        .card-body {
            display: flex;
            .card-info {
                padding: 10px;
                width: 75%;
                h5 {
                    font-size: 25px;
                }
            }
            .card-buttons {
                margin: auto 0;
                height: 50px;
                display: flex;
                button {
                    font: inherit;
                    cursor: pointer;
                    color: white;
                    padding: 0.5rem 1rem;
                    border-radius: 20px;
                    font-size: 20px;
                    margin: 0 15px;
                }
                button:focus {
                    outline: none;
                }
            }
        }
    }
    .welcome-buttons {
        display: flex;
        margin-top: 200px;
        height: 250px;
        button {
            font-size: 50px;
            width: 50%;
            border-radius: 20px;
            margin: 0 20px;
            background: rgb(222, 12, 12);
            background: rgb(222, 12, 12);
            background: linear-gradient(
                172deg,
                rgba(222, 12, 12, 1) 0%,
                rgba(229, 121, 250, 1) 0%,
                rgba(137, 233, 214, 1) 43%,
                rgba(255, 235, 0, 1) 100%
            );
        }
        button:first-child {
            background: rgb(222, 12, 12);
            background: linear-gradient(
                172deg,
                rgba(222, 12, 12, 1) 0%,
                rgba(219, 250, 121, 1) 0%,
                rgba(0, 212, 255, 1) 100%
            );
        }
        // .btn-new-task {
        //     width: 50%;
        // }
        // .btn-all-tasks {
        //     width: 50%;
        // }
    }
    .alert-error {
        text-align: center;
        color: red;
        font-size: 25px;
    }
    .alert-success {
        text-align: center;
        color: green;
        font-size: 25px;
    }
    .back {
        font: inherit;
        cursor: pointer;
        color: white;
        padding: 0.5rem 1rem;
        font-size: 20px;
        border: 3px solid black;
        background-color: #230052;
    }
}

.form-edit-create {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 100px;
    input,
    select,
    textarea {
        border: 2px solid #333;
        background-color: white;
        border-radius: 0.25rem;
        font: 1.25rem / 1.5 sans-serif;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0.75rem;
    }
    label {
        display: inline-block;
        font: bold 1.5rem sans-serif;
        margin-bottom: 0.5rem;
    }
    .btn {
        margin-top: 40px;
        @include btnColour(#230052, #230052);
        color: white;
        display: flex;
        justify-content: center;
    }
    input[type="submit"] {
        cursor: pointer;
    }
    input[type="checkbox"] {
        font-size: 2rem;
    }
}

.jumbotron {
    text-align: center;
    background-color: lightgray;
    padding: 2rem;
    border-radius: 12px;
    button {
        font: inherit;
        cursor: pointer;
        @include btnColour(#230052, #230052);
        color: white;
        padding: 1rem 3rem;
        border-radius: 20px;
        font-size: 25px;
    }
    button:focus {
        outline: none;
    }

    button:hover,
    button:active {
        @include btnColour(#460897, #460897);
    }
}
